* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #3c95e8;
  --primaryColorDarker: #1d7bd3;
  --secondaryColor: #4b4b4b;
  --mainWhite: #f3f3f3;
  --pureWhite: #fff;
  --mainBlack: #1b1b1b;
  --darkGrey: #c7c7c7;
  --mainGrey: #f5f5f5;
  --mainTransition: all 0.3s ease-out;
  --mainSpacing: 0.3em;
  --lightShadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  --darkShadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
}

/* Globals */
html,
body,
#root,
.App {
  height: 100%;
}

body {
  padding-top: 70px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Roboto";
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.rounded-corner-bottom-left {
  border-bottom-left-radius: 25px;
}

.rounded-corner-top-right {
  border-top-right-radius: 25px;
}

.section-title {
  text-align: center;
  padding-top: 2rem;
}

.section-title h3 {
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 40px;
  padding: 0 20px;
  padding-bottom: 10px;
}

.section-title div {
  width: 15rem;
  height: 5px;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: var(--primaryColor);
  transition: var(--mainTransition);
}

.separator {
  border-top-width: 3px;
  border-top-color: var(--darkGrey);
  border-top-style: dotted;
  width: 95%;
  margin: 0 auto;
}
/* End of Globals */

/* Sections */

#introduccion {
  background-color: var(--mainGrey);
  padding: 20px 0;
}

#introduccion:hover > .section-title div {
  width: 70%;
  transition: var(--mainTransition);
}

#funcionamiento {
  padding: 20px 0;
}

#funcionamiento:hover > .section-title div {
  width: 70%;
  transition: var(--mainTransition);
}

#gafas {
  padding: 20px 0;
}

#gafas:hover > .section-title div {
  width: 70%;
  transition: var(--mainTransition);
}
/* End of Sections */

/* Intro Title */
.intro-title {
  color: var(--mainGrey);
}
/* End of Intro Title */

/* Navbar */
.navbar {
  top: 0;
  left: 0;
  position: fixed;
  padding: 1.2em;
  z-index: 99999999999;
  width: 100%;
  height: 80px;
  background-color: var(--pureWhite);
  box-shadow: var(--lightShadow);
  /*F*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  height: 50px;
  margin-left: 2em;
  outline: none;
}

.navbar-links {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style: none;
  margin-right: 2em;
}

.navbar-links a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 1.1em;
  transition: var(--mainTransition);
  padding-left: 2em;
}

.navbar-links a:hover {
  color: var(--primaryColor);
  transition: var(--mainTransition);
}

.navbar-button {
  display: none;
}

.navbar-button-burguer {
  color: var(--mainBlack);
  outline: none;
}
/* End of Navbar */

/* Hero */
.hero-container {
  width: 100%;
  height: 300px;
  background-color: var(--mainBlack);
}

.hero {
  height: inherit;
  width: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8) 40%
    ),
    url(./images/hero-banner.png);
  background-size: 110% auto;
  background-position: center;
  box-shadow: var(--darkShadow);
  transition: var(--mainTransition);
}

.hero-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.hero-text h1 {
  font-size: 4em;
  text-transform: uppercase;
  color: var(--mainWhite);
  padding: 0 10px;
}

.hero-text p {
  color: var(--mainGrey);
  padding: 0 15px;
  line-height: 30px;
}
/* End of Hero */

/* Cards */
.card-container {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.card {
  height: auto;
  width: 30%;
  background-color: var(--pureWhite);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: var(--lightShadow);
  overflow: hidden;
  transition: var(--mainTransition);
}

.card:hover {
  box-shadow: var(--darkShadow);
  transition: var(--mainTransition);
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: left;
}

.card-image img {
  box-shadow: var(--lightShadow);
}

.card-text-container {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card-title {
  height: auto;
  font-size: 1.5em;
  color: var(--mainBlack);
  font-weight: 400;
}

.card-text {
  height: auto;
  font-size: 1em;
  color: var(--mainBlack);
  font-weight: 200;
}
/* End of Cards */

/* Error */
.error-container {
  height: 100%;
  width: 100%;
  background: linear-gradient(0, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 100%),
    url(./images/404.png);
  background-position: center;
  background-size: cover;
  color: var(--mainWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.error-container h1 {
  font-size: 12em;
  margin-bottom: 30px;
}

.error-container h2 {
  font-size: 2.8em;
  text-transform: uppercase;
}
/* End of Error */

/* Timeline */
.timeline-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-top: 100px;
  padding-bottom: 40px;
}

.timeline {
  flex: 1;
  height: 550px;
  padding-left: 1.5vw;
  margin-right: 20px;
  background-color: var(--pureWhite);
  box-shadow: var(--lightShadow);
  display: flex;
  align-items: center;
  height: auto;
}

.timeline .timeline-block {
  padding: 50px;
}

.timeline .next-button {
  background-color: var(--primaryColor);
}

.timeline .next-button:hover {
  background-color: var(--primaryColorDarker);
}

.timeline .MuiStepIcon-root.MuiStepIcon-active,
.timeline .MuiStepIcon-root.MuiStepIcon-completed {
  color: var(--primaryColor);
}

.timeline-image {
  flex: 1;
  height: 550px;
  object-fit: cover;
  overflow: hidden;
}

.timeline-image img {
  width: 100%;
}
/* End of Timeline */

/* Gafas */
.gafas-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  margin-bottom: 4em;
}

.gafas-img {
  flex: 1;
  object-fit: cover;
}

.gafas-img img {
  width: 100%;
  position: relative;
  left: 20%;
}

.gafas-text {
  flex: 1;
  margin-top: 60px;
  position: absolute;
  right: 20%;
  font-size: 6vw;
  color: var(--secondaryColor);
  text-transform: uppercase;
  line-height: 1.5em;
  text-align: right;
  position: relative;
  -webkit-text-stroke: 2px var(--mainWhite);
}
/* End of Gafas */

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  box-shadow: var(--darkShadow);
  height: auto;
}

.footer:hover .footer-separator {
  width: 70%;
  transition: var(--mainTransition);
}

.footer-upper-container {
  height: 250px;
  width: 100%;
  background-color: var(--pureWhite);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 200px;
}

.footer-separator {
  border-top-width: 3px;
  border-top-color: var(--mainBlack);
  border-top-style: solid;
  width: 200px;
  margin: 20px auto;
  transition: var(--mainTransition);
}

.footer-icons-container {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons-container a {
  padding: 0 8px;
}

.black-icons a {
  color: var(--mainBlack);
}

.white-icons a {
  color: var(--mainWhite);
}

.footer-final {
  height: 35px;
  background-color: var(--mainBlack);
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer-final-icon {
  color: var(--mainWhite);
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.footer-final p {
  color: var(--mainWhite);
  font-size: 0.8em;
  font-weight: 300;
  margin: auto 0;
  padding: 0 5px;
}
/* End of Footer */

/* Contact */
.contact-container {
  height: 1050px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
  background-color: var(--secondaryColor);
}

.form-holder {
  position: absolute;
  width: 100%;
  height: 672px;
  top: 320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
}

.form-container {
  width: 80%;
  background-color: var(--mainWhite);
  box-shadow: var(--darkShadow);
  display: flex;
}

.form {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-box button {
  width: 50%;
  align-self: flex-end;
}

.form-input div {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Form Color Classes - Remove When Upgraded */
/* Bordes de los inputs cuando estas escribiendo */
.form-box .MuiInput-underline.Mui-focused:after,
.form-box .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--primaryColor);
}
.form-box .MuiFormLabel-root.Mui-focused {
  color: var(--primaryColor);
}

.form-box .MuiButton-containedPrimary {
  background-color: var(--primaryColor);
}

.form-box .MuiButton-containedPrimary:hover {
  background-color: var(--primaryColorDarker);
}

/* End of Form Color Classes - Remove When Upgraded */

.form-info {
  flex: 1;
  background-color: var(--primaryColorDarker);
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  padding: 60px;
}

.form-info div {
  padding: 20px 0;
}

.form-text {
  color: var(--pureWhite);
  padding-bottom: 5px;
}

.form-link {
  color: var(--mainBlack);
  text-decoration: none;
}

.form-link:hover {
  opacity: 0.8;
}

.form-send {
  position: absolute;
  height: 30px;
  width: 80%;
  background-color: rgb(20, 214, 69);
  color: var(--pureWhite);
  font-size: 0.8em;
  z-index: 1;
  bottom: 0;
  box-shadow: var(--darkShadow);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -30px 0;
  animation-name: fadeOut;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  font-weight: 600;
  letter-spacing: 2px;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*End of Contact*/

/* Section Hero */
.section-hero-container {
  width: 100%;
  height: 300px;
  background-color: var(--mainBlack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  text-align: center;
  box-shadow: var(--darkShadow);
}

.section-hero-image {
  position: absolute;
  height: 300px;
  object-fit: cover;
  opacity: 0.3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-hero-image img {
  z-index: 1;
  width: 110%;
}

.section-hero-container h2 {
  z-index: 1;
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 0;
  color: var(--mainGrey);
  padding: 0 20px;
}

.section-hero-container h4 {
  font-size: 2em;
  font-weight: 100;
  margin-top: 10px;
  color: var(--darkGrey);
}
/* End of Section Hero */

/* Try */
.try-container {
  height: 1050px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
  background-color: var(--secondaryColor);
}
/* End of Try */

/* Media < 1200px */
@media (max-width: 1200px) {
  /* Contact */
  .contact-container {
    height: 1150px;
  }

  .form-holder {
    height: 800px;
  }

  .form-container {
    flex-direction: column-reverse;
  }

  .form {
    flex: 5;
  }

  .form-info {
    flex-direction: row;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    padding: 10px 0;
  }
  /* End of Contact */
}
/* End of Media < 1200px */

/* Media < 768px */
@media (max-width: 768px) {
  /* Navbar */
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 5px;
  }

  .navbar-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .navbar-button {
    display: inline-block;
  }

  .navbar-links {
    overflow: hidden;
    height: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 4em;
    transition: var(--mainTransition);
    opacity: 0;
  }

  .navbar-links-show {
    height: 200px;
    opacity: 1;
  }
  /* End of Navar */

  /* Hero */
  .hero-container {
    height: 200px;
  }

  .hero-text h1 {
    font-size: 3em;
  }
  /* End of Hero */

  /* Card */
  .card-container {
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0;
    flex-direction: column;
  }

  .card {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-bottom: 60px;
  }

  .card-image {
    width: 100%;
    height: 150px;
  }
  /* End of Card */

  /* Error Container */
  .error-container h1 {
    font-size: 8em;
  }

  .error-container h2 {
    font-size: 5vw;
  }
  /* End of Error Container */

  /* Timeline */
  .timeline-container {
    padding: 0;
    flex-direction: column-reverse;
  }

  .timeline {
    margin: 0;
  }

  .timeline-image {
    margin-top: 60px;
    margin-bottom: 20px;
    flex: none;
    height: 300px;
  }
  /* End of Timeline */

  /* Gafas */
  .gafas-container {
    flex-direction: column-reverse;
    padding: 10px;
  }

  .gafas-text {
    width: 80%;
    font-size: 6vw;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    -webkit-text-stroke: 1px var(--mainWhite);
    right: 0;
  }

  .gafas-img {
    width: 70%;
    margin: 0;
    margin-top: 0;
  }

  .gafas-img img {
    left: 0;
    bottom: 15px;
  }
  /* End of Gafas */

  /* Contact */
  .contact-container {
    height: 1250px;
  }

  .form-holder {
    height: 900px;
  }

  .form-info {
    height: auto;
    flex-wrap: wrap;
  }

  .form-info .footer-icons-container {
    width: 100%;
  }
  /* End of Contact */
}
/* End of Media < 768px */

/* Media < 600px */
@media (max-width: 600px) {
  /* Contact */
  .form-container {
    width: 100%;
  }

  .form-send {
    width: 100%;
    height: 50px;
    margin: -48px 0;
  }

  .form-info {
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
  }
  /* End of Contact */

  /* Section Hero */
  .section-hero-image {
    align-items: center;
    justify-content: center;
  }

  .section-hero-image img {
    width: 200%;
  }

  .section-hero-container h2 {
    font-size: 2.5em;
  }

  .section-hero-container h4 {
    font-size: 1.3em;
    padding: 0 30px;
  }
  /* End of Section Hero */
}

/* End of Media < 600px */

/* Media > 1200px */
@media (min-width: 1200px) {
  .card-container {
    justify-content: center;
  }

  .card {
    width: 300px;
    margin: 0 50px;
  }
}
/* End of Media > 1200px */
